In [1]:
# pandas.pydata.org

In [2]:
print("Welcome to Python")

Welcome to Python

In [3]:
print("\"Welcome to Python\"")

"Welcome to Python"

In [4]:
"hello"

'hello'

In [5]:
120/12+2-4

8.0

In [6]:
marks = 20
marks

20

In [7]:
type(marks)

int

In [8]:
3**2

9

In [11]:
price = 50.0
print(price)
type(price)

50.0

float

In [13]:
price = 50.0
#print(price)
print(type(price))
price

<class 'float'>

50.0

In [14]:
name = "Kunal"
type(name)

str

In [15]:
dir(str)  #to find the functions related to the data type

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [18]:
str1 = "WelcOmE tO PytHOn"
str1.capitalize()

'Welcome to python'

In [19]:
str1.upper()

'WELCOME TO PYTHON'

In [20]:
str1.lower()

'welcome to python'

In [21]:
str1.title()

'Welcome To Python'

In [23]:
food = "BiRYani"
name = "KuNaL"
print(food.swapcase())
print(name.swapcase())

bIryANI
kUnAl

In [25]:
s1 = "My name is Kunal."
print(s1.split())
s2 = "Mumbai-Pune-Mumbai"
s2.split("-")

['My', 'name', 'is', 'Kunal.']

['Mumbai', 'Pune', 'Mumbai']

In [26]:
mail = "xyz@email.com"
mail.split("@")

['xyz', 'email.com']

In [27]:
s1.replace("Kunal","Prachi")

'My name is Prachi.'

In [28]:
# single line comment

"""
multiline comment
"""

'\nmultiline comment\n'

In [29]:
city = "Kolhapur"
city.count("a")

1

In [31]:
"mumbai".count("m")

2

In [32]:
name = "horse"
name * 4

'horsehorsehorsehorse'

In [33]:
n1 = 5
n1*5

25

In [1]:
name = "Suyash"
surname = "Kulkarni"
name + surname # "+" symbol concatinates the values of varibles

'SuyashKulkarni'

In [2]:
name + " " + "Kulkarni"

'Suyash Kulkarni'

In [4]:
# Conditional statements

a = 130
b = 240
if (a<b):
    print("A is smaller than B")
    print("True block")
    c = a+b
    print(c)
else:
    print("B is smaller than A")
    print("False block")

A is smaller than B
True block
370

In [7]:
a = 130
b = 240
if (a<b):
    print(a,"is smaller than",b)
else:
    print(b,"is smaller than",a)

130 is smaller than 240

In [22]:
salary = 25000
if (salary>20000):
    tax = 0.25
    print("Hello from True if")
else:
    tax=0.20
    print("Hello from false if/ else")
print("Bye....outside of if block")
net_salary = salary-tax*salary
print("Net_Salary is",net_salary)

Hello from True if
Bye....outside of if block
Net_Salary is 18750.0

In [23]:
range(5, 10)

range(5, 10)

In [24]:
# For Loop
for i in range(2,10):
    print(i)
print("Bye")

2
3
4
5
6
7
8
9
Bye

In [25]:
# print no 1 to 20 with with 2 no. gap

for i in range(1,20,2):
    print(i,)

1
3
5
7
9
11
13
15
17
19

In [27]:
# break statement terminates when the loop condition satisfies

for i in range(1,10):
    if i == 8:
        print("The for loop broke")
        break
    else:
        print(i)

1
2
3
4
5
6
7
The for loop broke

In [29]:
for i in range(10):  #default initial is 0
    print(i, i*i)

0 0
1 1
2 4
3 9
4 16
5 25
6 36
7 49
8 64
9 81

In [31]:
for i in range(10):  #default initial is 0
    print(i, i**3)

0 0
1 1
2 8
3 27
4 64
5 125
6 216
7 343
8 512
9 729

In [34]:
name = "DataScience"
for i in name:
    print(i)

D
a
t
a
S
c
i
e
n
c
e

In [45]:
name = "Hello"
for i in range(1,8):
   print((name + " ")*i)

Hello
Hello Hello
Hello Hello Hello
Hello Hello Hello Hello
Hello Hello Hello Hello Hello
Hello Hello Hello Hello Hello Hello
Hello Hello Hello Hello Hello Hello Hello

In [56]:
movie = "SAALAR"
for i in movie:
   #print(i)
   #print(i.swapcase())   by default end value is enter key
    print(i.swapcase(),end=" ")

s a a l a r

In [58]:
for i in range(1,10):
    if i%2==0:
        print(i,"is an even no")
    else:
        print(i,"is a odd no.")

1 is a odd no.
2 is an even no
3 is a odd no.
4 is an even no
5 is a odd no.
6 is an even no
7 is a odd no.
8 is an even no
9 is a odd no.

# Inroduction Day 3

In [5]:
print("Even nos.")
for i in range(1,10):
    if i%2==0:
        print(i,end=" ")
        
print("\nOdd nos.")
for i in range(1,10):
    if i%2!=0:
        print(i,end=" ")

Even nos.
2 4 6 8
Odd nos.
1 3 5 7 9

In [7]:
status = True
print(type(status))
status1 = False
print(type(status1))

<class 'bool'>
<class 'bool'>

In [9]:
# print each letter 4 times

for letter in "Data Science":
    print(letter*4, end= " ")

DDDD aaaa tttt aaaa      SSSS cccc iiii eeee nnnn cccc eeee

In [10]:
len("My name")  #len function used to find the length of the string

7

DATA STRUCTURES

# LISTS

In [11]:
# LIST ---- Are mutable
#created using the square brackets []

marks = [22,33,44,55,66,77,88,99]
marks

[22, 33, 44, 55, 66, 77, 88, 99]

In [12]:
type(marks)

list

In [14]:
dir(list)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [15]:
len(marks)

8

In [17]:
mark = [55,11,88,33,44,77,66,22]
new_mark = sorted(mark)       # sorted is not present in dir list but it too sorts in asc order
new_mark

[11, 22, 33, 44, 55, 66, 77, 88]

In [18]:
mark

[55, 11, 88, 33, 44, 77, 66, 22]

In [22]:
mark.sort()        #sorts in ascending order in dir    
mark

[11, 22, 33, 44, 55, 66, 77, 88, 99]

In [21]:
mark.append(99)
mark

[11, 22, 33, 44, 55, 66, 77, 88, 99]

In [25]:
mark.reverse()
mark

[99, 88, 77, 66, 55, 44, 33, 22, 11]

In [31]:
marks2= [55,15,95,65,35,75,25,45,85]
marks2.sort(reverse=True)              #reverse=True sorts in descending order
marks2

[95, 85, 75, 65, 55, 45, 35, 25, 15]

In [32]:
marks2= [55,15,95,65,35,75,25,45,85]
marks2.sort(reverse=False)              #reverse=False sorts in ascending order  but it is default
marks2

[15, 25, 35, 45, 55, 65, 75, 85, 95]

In [33]:
marks2

[15, 25, 35, 45, 55, 65, 75, 85, 95]

In [34]:
marks3 = [44,88,22,99,66,77,11,55]
marks3

[44, 88, 22, 99, 66, 77, 11, 55]

In [35]:
99 in marks     # gives either true or false

True

In [36]:
list1 = [10,20,30]
list2 = [40,50,60]
list1 + list2        #concates list1 and list2

[10, 20, 30, 40, 50, 60]

In [37]:
(list1 + list2)*3       #repeats 3 times

[10, 20, 30, 40, 50, 60, 10, 20, 30, 40, 50, 60, 10, 20, 30, 40, 50, 60]

In [38]:
# list of strings

list3 = ["Mango", "Apple", "Banana", "Pineapple", "Custard apple", "Strawberry"]
list3

['Mango', 'Apple', 'Banana', 'Pineapple', 'Custard apple', 'Strawberry']

In [40]:
#display loop by changing the case of fruit in upper case
for fruit in list3:
    print(fruit.upper())   #prints one below another

MANGO
APPLE
BANANA
PINEAPPLE
CUSTARD APPLE
STRAWBERRY

In [42]:
for fruit in list3:
    print(fruit.upper(),end=",")

MANGO,APPLE,BANANA,PINEAPPLE,CUSTARD APPLE,STRAWBERRY,

In [43]:
for fruit in list3:
    print(fruit.replace("u","a"),end=" ")

Mango Apple Banana Pineapple Castard apple Strawberry

In [44]:
#In python indexing start with 0    list3 = ["Mango", "Apple", "Banana", "Pineapple", "Custard apple", "Strawberry"]
list3[3]

'Pineapple'

In [45]:
list3.count("Banana")  # no of elements in list is given

1

In [46]:
list3[6]    # it raise an error due to list doesn't consist the 6 element

IndexError: list index out of range

SLICING

In [47]:
list3[0:4]

['Mango', 'Apple', 'Banana', 'Pineapple']

In [48]:
#from apple to strawberry 
list3[1:]    # default end value is last element of list

['Apple', 'Banana', 'Pineapple', 'Custard apple', 'Strawberry']

In [50]:
#from beginning to pineapple
list3[:4]

['Mango', 'Apple', 'Banana', 'Pineapple']

In [51]:
list3

['Mango', 'Apple', 'Banana', 'Pineapple', 'Custard apple', 'Strawberry']

In [52]:
# negative indexing
list3[-1]

'Strawberry'

In [53]:
list3[-3]

'Pineapple'

In [54]:
list3[-6]

'Mango'

In [56]:
#start, stop, step
list3[::2]

['Mango', 'Banana', 'Custard apple']

In [66]:
n1=list(range(1,31))     #list is inbuilt function
print(n1,end=" ")

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30]

In [67]:
n2=list(range(1,31,2))     #list is inbuilt function
print(n2,end=" ")

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29]

In [68]:
n1[::4]

[1, 5, 9, 13, 17, 21, 25, 29]

In [69]:
n1[2:15:4]  #start,stop,step

[3, 7, 11, 15]

In [70]:
print(list3,end=",")

['Mango', 'Apple', 'Banana', 'Pineapple', 'Custard apple', 'Strawberry'],

In [74]:
list3[::-1] #step is negative it starts from last

['Strawberry', 'Custard apple', 'Pineapple', 'Banana', 'Apple', 'Mango']

In [75]:
list3[::-2]

['Strawberry', 'Pineapple', 'Apple']

In [77]:
#use of in keyword in list for searching subword in a word/string
"the" in "Netherland"

True

# Introduction Day 4

In [81]:
list3

['Mango', 'Apple', 'Banana', 'Pineapple', 'Custard apple', 'Strawberry']

In [82]:
list3.append("Mulberry")    #adds element at end of list

In [83]:
list3

['Mango',
 'Apple',
 'Banana',
 'Pineapple',
 'Custard apple',
 'Strawberry',
 'Mulberry']

In [84]:
list3.remove("Mulberry")      #removes the element from list

In [85]:
list3

['Mango', 'Apple', 'Banana', 'Pineapple', 'Custard apple', 'Strawberry']

In [86]:
#Slicing 
list3[0:4]

['Mango', 'Apple', 'Banana', 'Pineapple']

In [89]:
#display the fruit name which contain berry in it
for i in list3:
    if "berry" in i:
        print(i)

Strawberry

In [90]:
#display the fruit name which contain pple in it
for fruit in list3:
    if "pple" in fruit:
        print(fruit)

Apple
Pineapple
Custard apple

In [105]:
#list3.append("Black berry")
list3.remove("Black berry")
list3

['Mango',
 'Apple',
 'Banana',
 'Pineapple',
 'Custard apple',
 'Strawberry',
 'Black berry']

In [109]:
#display the fruit name which contain pple in it
list4=[]
list5=[]
for fruit in list3:
    if "pple" in fruit:
        list4.append(fruit)
    else:
        list5.append(fruit)
        
print(list4,end=" ")
print("")
print(list5,end=" ")

['Apple', 'Pineapple', 'Custard apple']
['Mango', 'Banana', 'Strawberry', 'Black berry']

In [110]:
#display the fruit name which contain berry in it
list6=[]
for fruit in list3:
    if "berry" in fruit:
        list6.append(fruit)
        
list6

['Strawberry', 'Black berry']

In [114]:
#print all the squares of l1 to l2
l1 = [1,2,3,4,5,6]
l2 = []
for i in l1:
    l2.append(i**2)
print(l1,end= " ")
print()
print(l2,end=" ")

[1, 2, 3, 4, 5, 6]
[1, 4, 9, 16, 25, 36]

LIST COMPREHENSION ---- to compact your code

In [115]:
l1 = [1,2,3,4,5,6]
l2 = [i**2 for i in l1]
print(l1,end= " ")
print()
print(l2,end=" ")

[1, 2, 3, 4, 5, 6]
[1, 4, 9, 16, 25, 36]

In [116]:
list3

['Mango',
 'Apple',
 'Banana',
 'Pineapple',
 'Custard apple',
 'Strawberry',
 'Black berry']

In [118]:
l3 = [fruit for fruit in list3 if "berry" in fruit]
l3

['Strawberry', 'Black berry']

In [119]:
l4 = [fruit for fruit in list3 if "berry" not in fruit]
l4

['Mango', 'Apple', 'Banana', 'Pineapple', 'Custard apple']

In [120]:
city = ["Pune", "Mumbai", " Kolhapur", "Satara", "Thane", "Solapur"]
city

['Pune', 'Mumbai', ' Kolhapur', 'Satara', 'Thane', 'Solapur']

In [121]:
newlistpur = [x for x in city if 'pur' in x]
newlistpur

[' Kolhapur', 'Solapur']

In [122]:
list3

['Mango',
 'Apple',
 'Banana',
 'Pineapple',
 'Custard apple',
 'Strawberry',
 'Black berry']

In [124]:
list3.index("Custard apple")  # it returns the index of the element

4

In [125]:
list3.index("Orange")   #returns error

ValueError: 'Orange' is not in list

In [126]:
print(list3,end=" ")

['Mango', 'Apple', 'Banana', 'Pineapple', 'Custard apple', 'Strawberry', 'Black berry']

In [128]:
#to replace banana with orange
# mutable means we can change the value
list3[2]="Orange"
list3

['Mango',
 'Apple',
 'Orange',
 'Pineapple',
 'Custard apple',
 'Strawberry',
 'Black berry']

# TUPLES

In [129]:
#Data Structure = TUPLES ---------- are immmutable
#created using round brackets

In [130]:
t1 = (1,2,3,4,5)
t1

(1, 2, 3, 4, 5)

In [131]:
type(t1)

tuple

In [132]:
t1[1]

2

In [133]:
t1[0] = 7     #error due to tuple is immmutable
t1

TypeError: 'tuple' object does not support item assignment

In [134]:
t2 = t1 + (6,7,8,9,10)

In [135]:
t2

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [136]:
dir(t1)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [137]:
t1.index(4) # gives index of element

3

In [139]:
t3 = (5,6,7,4,4,3,2,5,5,5,9)
t3.count(5) # gives the no. of count of element in the tuple

4

In [140]:
t1

(1, 2, 3, 4, 5)

In [143]:
t1[0:5]

(1, 2, 3, 4, 5)

In [144]:
t1[3:]

(4, 5)

# Introduction Day 5 - Dictionary

In [145]:
#Data Structur = Dictionary 
#Is used to store key:value pair
#Dictionary is a collection which is ordered, challengable and do not allow duplicates
# Created using the {key:value} curly brackets.
# Keys are unique identifiers that are associated with each value

In [147]:
capital_dict = {"Nepal":"Kathmandu","India":"Delhi","England":"London"}
capital_dict

{'Nepal': 'Kathmandu', 'India': 'Delhi', 'England': 'London'}

In [148]:
type(capital_dict)

dict

In [151]:
dir(capital_dict)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [152]:
capital_dict["England"]   #gives the value of the key

'London'

In [154]:
keys = capital_dict.keys()      #returns all the keys in the dictionary
keys

dict_keys(['Nepal', 'India', 'England'])

In [155]:
capital_dict.keys()

dict_keys(['Nepal', 'India', 'England'])

In [156]:
values = capital_dict.values()      #returns all the values in the dictionary
values

dict_values(['Kathmandu', 'Delhi', 'London'])

In [157]:
items = capital_dict.items()      #returns all the key:value in the dictionary
items

dict_items([('Nepal', 'Kathmandu'), ('India', 'Delhi'), ('England', 'London')])

In [158]:
#update func adds the objects from another dictionary to the original one
dict_capital = {"Italy":"Rome","abc":"xyz"}
dict_capital

{'Italy': 'Rome', 'abc': 'xyz'}

In [159]:
capital_dict.update(dict_capital)

In [160]:
capital_dict

{'Nepal': 'Kathmandu',
 'India': 'Delhi',
 'England': 'London',
 'Italy': 'Rome',
 'abc': 'xyz'}

In [162]:
capital_dict.update({"Australia":"Sydney"})
capital_dict

{'Nepal': 'Kathmandu',
 'India': 'Delhi',
 'England': 'London',
 'Italy': 'Rome',
 'abc': 'xyz',
 'Australia': 'Sydney'}

In [163]:
#pop() func gives and removes the value of the key from the dict
capital_dict.pop("Australia")

'Sydney'

In [164]:
capital_dict

{'Nepal': 'Kathmandu',
 'India': 'Delhi',
 'England': 'London',
 'Italy': 'Rome',
 'abc': 'xyz'}

In [167]:
capital_dict["abc"]="Mumbai"
capital_dict

{'Nepal': 'Kathmandu',
 'India': 'Delhi',
 'England': 'London',
 'Italy': 'Rome',
 'abc': 'Mumbai',
 'Maharashtra': 'Mumbai'}

In [169]:
#popitem function removes the last entry of the dict
capital_dict.popitem()

('abc', 'Mumbai')

In [170]:
capital_dict

{'Nepal': 'Kathmandu', 'India': 'Delhi', 'England': 'London', 'Italy': 'Rome'}

In [171]:
#Dictionary can have different data types
mylist=['Mango', 'Apple', 'Banana', 'Pineapple', 'Custard apple', 'Strawberry', 'Black berry']

In [172]:
mytuple=(2,4,6,8,10,12)

In [174]:
mydict={"A":mylist,
       "B":mytuple,
       "C":capital_dict}

mydict

{'A': ['Mango',
  'Apple',
  'Banana',
  'Pineapple',
  'Custard apple',
  'Strawberry',
  'Black berry'],
 'B': (2, 4, 6, 8, 10, 12),
 'C': {'Nepal': 'Kathmandu',
  'India': 'Delhi',
  'England': 'London',
  'Italy': 'Rome'}}

In [177]:
mydict['A']

['Mango',
 'Apple',
 'Banana',
 'Pineapple',
 'Custard apple',
 'Strawberry',
 'Black berry']

In [178]:
mydict['C']

{'Nepal': 'Kathmandu', 'India': 'Delhi', 'England': 'London', 'Italy': 'Rome'}

In [179]:
mydict['A'][3]

'Pineapple'

In [180]:
mydict['C']['India']

'Delhi'

In [181]:
mydict['A'][6]

'Black berry'

In [183]:
# MATH FUNCTIONS ---------- need to import those modules
from math import sqrt
sqrt(25)

5.0

In [184]:
from math import factorial
factorial(5)

120

In [185]:
from math import sin, cos, tan            #we can import multiple functions at a time
sin(90)

0.8939966636005579

In [186]:
tan(45)

1.6197751905438615

In [187]:
cos(0)

1.0

In [188]:
from math import *      # * is used to import all the functions
lis = [5,2,3]
prod(lis)            #prod is func for multiplication

30

In [190]:
#we can do import math
import math
seq = (2,5,6)
print(math.prod(seq))

60

In [193]:
import math
list = [4,6,7]
math.prod(list)

168

In [194]:
dir(math)

['__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'ceil',
 'comb',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'dist',
 'e',
 'erf',
 'erfc',
 'exp',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'isqrt',
 'lcm',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'nextafter',
 'perm',
 'pi',
 'pow',
 'prod',
 'radians',
 'remainder',
 'sin',
 'sinh',
 'sqrt',
 'tan',
 'tanh',
 'tau',
 'trunc',
 'ulp']

In [195]:
sequence=[1,2,3,4,4]
import math as mt
mt.prod(sequence)

96

In [196]:
mt.sqrt(81)

9.0